

.form_label {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #333;
    display: block;


}

.form_input {
    width: 100%;

    border-radius: 1.3rem;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

