.card_1 {
    background-image: url("../../../assets/Password-Profile.png");
}

.card_2 {
    background-image: url("../../../assets/Data-Redaction.png");
}

.card_3 {
    background-image: url("../../../assets/Auditing.png");
}

.dbengine_section {
    display: flex;
    place-content: center;
    text-align: center;
}

.dbengine_cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


@media screen and (max-width:1025px) {
    .dbengine_cards {
        flex-direction: column;
    }
}